@using Microsoft.CodeAnalysis
@{
  ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<head>
  <base href="~/Home/About/" />
 
</head>
<app-root></app-root>
<script asp-src-include="~/js/site.min.js"></script>
<script asp-src-include="~/css/site.min.css"></script>